DATABASE_URL=mongodb://localhost:27017/fitme
NODE_ENV=development
PORT=3000
HOST=local
SALT=10
SECRET_TOKEN=fetme 123
CLIENT_ID=371243052650-dff13gr501er8ausahgk6a5v07bh7lui.apps.googleusercontent.com
CLIENT_SECRET=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
CALLBACK_URL=http://localhost:3000/auth/google/callback
REDIRECT_URL=http://localhost:3000/health-check
IMAGES_DEST=./static
HOST_API=http://localhost:3000/